/* === Container principal === */
.auth-container {
  display: flex;
  max-width: 850px;
  width: 100%;
  margin: 60px auto;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Colonne gauche */
.auth-left {
  flex: 1;
  background: #f5f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.auth-left img {
  max-width: 80%;
  height: auto;
}

/* Colonne droite */
.auth-right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.auth-right h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1f2937;
}
.auth-right p {
  margin-bottom: 20px;
  color: #6b7280;
  font-size: 14px;
}

/* Champs */
label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.required {
  color: red;
}
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}



/* Lien mot de passe oublié */
.forgot-password,.create-account  {
  text-align: right;
  margin-bottom: 20px;
    margin-top: 14px; /* ⬅️ augmente l’espace (avant : 10px) */

}
.forgot-password a, .create-account a  {
  font-size: 13px;
  color: #007bff;
  text-decoration: none;
}
.forgot-password a:hover , .create-account a:hover{
  text-decoration: underline;
}

/* Bouton */
.btn-primary {
  width: 100%;
  background: #1d8cf8;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}
.btn-primary:hover {
  background: #0d6efd;
  transform: translateY(-2px);
}





/* Lien inscription */
.signup-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}
.signup-link a {
  color: #007bff;
  text-decoration: none;
}
.signup-link a:hover {
  text-decoration: underline;
}




